@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-typo: 'Syne', sans-serif;
    --main-color: rgb(116, 65, 116);
    --bg-color: rgb(6, 28, 41);
    --second-typo: 'Inter', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}


/* header */

header {
    background: var(--bg-color);
}
header h1 {
    font-family: var(--main-typo);
    font-size: 1.3rem;
    margin-bottom: 0;
}
header nav a{
    font-family: var(--main-typo);
    font-size: 1.2rem;
}

/* hero section  */

.hero_section {
    background: url(./img/hero_section_index.jpg) no-repeat center/cover;
    height: 100vh;
    padding: 0 30px;
}
.hero_section h1, .hero_section h2 {
    font-family: var(--main-typo);
}


/* presentation */

.presentation h2 {
    font-family: var(--main-typo);
}
.presentation p {
    font-family: var(--second-typo);
}

.mobile_justify {
    text-align: justify;
}

/* actions */

.actions {
    padding: 60px 40px;
    background: var(--bg-color);
    gap: 30px;
}
.actions h2{
    font-size: 2rem;
    font-family: var(--main-typo);
}
.actions li {
    font-family: var(--second-typo);
    margin-bottom: 4px;
}
.actions i {
    margin-right: 10px;
}
.actions img {
    width: 100%;
    border-radius: 20px;
}

/* evenements */

.event_card h2{
    font-family: var(--main-typo);
    font-size: 2rem;
}
.card {
    box-shadow: 0px 0px 5px #00000026;
    flex: 1;
}
.card h3 {
    font-family: var(--main-typo);
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
.card p {
    font-family: var(--second-typo);
}


/* animation */

.button-event {
    width: 130px;
    background-image: linear-gradient(115deg, rgb(73,53,184), #8b7311, rgb(73,53,184), #651a74, #07642c);
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: normal;
    border-radius: 6px;
    overflow: hidden;
}

.button-event:hover {
    -webkit-animation: play 1.6s ease-in infinite;
    animation: play 1.6s ease-in infinite;
}

.button-event span {
    padding: 10px 0;
    font-size: 1.1rem;
    display: block;
    margin: 3px;
    background: var(--bg-color);
    border-radius: 3px;
    font-family: var(--main-typo);
}

@-webkit-keyframes play {
    0% {
        background-position: 0px;
    }
    20% {
        background-position: -110px;
    }
    35% {
        background-position: -180px;
    }
    50% {
        background-position: -210px;
    }
    80% {
        background-position: -350px;
    }
    100% {
        background-position: -390px;
    }
}

/* footer */


footer {
    background: var(--bg-color);
}
.informations {
    padding: 50px 40px;
}
.logo_description {
    font-size: 1.1rem;
}
.logo_description h2{
    font-family: var(--main-typo);
}
.informations_back {
    padding: 30px;
}
.informations_back h3{
    font-family: var(--main-typo);
}
.informations_back p{
    font-family: var(--second-typo);
}
.contact h4{
    font-family: var(--second-typo);
}
.partners li{
    font-family: var(--second-typo);
}
.mentions {
    padding: 10px 20px;
    background: yellowgreen;
    font-family: var(--second-typo);
}

/* Events */

.hero_section_events {
    background: url(./img/hero_section_events.webp) no-repeat center/cover;
    height: 100vh;
}
.hero_section_events h1 {
    font-family: var(--main-typo);
}

.events {
    padding: 60px 40px;
}
.events h2{
    font-family: var(--main-typo);
}

.events_list {
    padding: 15px 20px;
    box-shadow: 0px 0px 5px #00000026;
    flex: 1;
}

.events_img {
    flex: 0 0 auto;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.events_img img {
    width: 100%; /* Pour remplir complètement le conteneur */
    height: 100%; /* Pour remplir complètement le conteneur */
    object-fit: cover; /* Assurer que l'image couvre entièrement le conteneur */
    border-radius: 20px; /* Garder les coins arrondis */
}

.events_infos {
    gap: 10px;
}
.events_infos h3 {
    font-family: var(--main-typo);
    font-size: 1.3rem;
}
.events_infos h4 {
    font-family: var(--second-typo);
    font-size: 1.1rem;
}
.events_infos p {
    font-family: var(--second-typo);
    text-align: justify;
}

.mobile_justify {
    text-align: justify;
}

@media all and (min-width: 768px) {
    .mobile_justify {
        text-align: left;
    }
    }